@import "variables";
@import "mixins";

body {
    font-family: $font-family;
}

.card {
    @include card;
    width: 300px;
    margin: 10px;
}

.card-dark {
    @include card(#444, #fff, 16px);

    .card-headline {
        color: rgb(104, 104, 104);
    }
}

.card-light {
    @include card(#fff);
}